[Unit]
Description=WiPi API application server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/src/wipi/bin/upstream.sh

[Install]
WantedBy=multi-user.target
